<% layout('layouts/boilerplate') %> 
<h1>Edit a Landmark</h1>
<form action="/landmarks/<%= landmark._id %>/edit?_method=PATCH" method="POST">
    <label for="title">Name:</label>
    <input type="text" id="title" name="landmark[title]" placeholder="Landmark Name..." value="<%= landmark.title %>">
    <br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="landmark[location]" placeholder="Landmark location..." value="<%= landmark.location %>">
    <br>
    <button>Save</button>
</form>
<form action="/landmarks/<%= landmark._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<br>
<br>
<a href="/landmarks/<%= landmark._id %>">Back</a>
