<% layout('layouts/boilerplate') %>
<h1>All Landmarks</h1>

<div id="map" class="mb-5" style="width: auto; height: 300px"></div>

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
    <% for (let landmark of landmarks) {%>

    <div class="col">
        <div class="card bg-secondary border-dark">
            <a href="/landmarks/<%= landmark._id %>"
                ><% if(landmark.images && landmark.images.length ){ %>
                <img
                    src="<%= landmark.images[0].url %>"
                    class="card-img-top"
                    alt="..."
                />
                <% } else { %>
                <img src="/default.jpg" class="card-img-top" alt="..." />
                <% } %>
            </a>
            <div class="card-body">
                <h5 class="card-title"><%= landmark.title %></h5>
                <p class="card-text"><%= landmark.description %></p>
            </div>
            <div class="card-footer">
                <small class=""><%= landmark.location %></small>
            </div>
        </div>
    </div>

    <% } %>
</div>
<br />
<br />
<script>
    const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
    const allLandmarks = `<%- JSON.stringify(landmarks) %>`;
</script>
<script src="/scripts/allLandmarksMap.js"></script>
