<% layout('layouts/boilerplate') %> 
<h1><%= landmark.title %></h1>
<h2><%= landmark.location %> </h2>
<img src="<%= landmark.image %>" alt="">
<p><%= landmark.description %> </p>
<a href="/landmarks/<%= landmark._id %>/edit">Edit this landmark</a>
<br>
<br>
<a href="/landmarks/">All Landmarks</a>
